<div dir="rtl">
  <p-toolbar>
    <div class="p-toolbar-group-right space-x-5">

      <p-button routerLink="/devices" label="الأجهزة" styleClass="p-button-primary" class="mx-5"></p-button>
      <p-button routerLink="/cafe" label="الكافيه"  styleClass="p-button-primary"></p-button>
      <p-button routerLink="/revenue" label="ايراد اليوم"  styleClass="p-button-primary"></p-button>

    </div>

    <div class="p-toolbar-group-left">
      <p-button routerLink="/dashboard" label="لوحه التحكم"  styleClass="p-button-secondary"></p-button>
    </div>
  </p-toolbar>
  <router-outlet></router-outlet>
</div>

